<a href="/cars/{{model}}">
<img src="/images/{{image}}" style="width:200px; border:3px solid rgb(0, 3, 105)">
</a>
<br>
<b>BUYER:{{buyerName}}</b><br>
<b>SELLER:{{sellerName}}</b><br> 
MAKE: {{make}}<br>
MODEL: {{model}}<br>
PRICE: {{price}}<br>
<br>